In [5]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd

In [6]:
df = pd.read_csv('fixed_train_ticket_random_passengers.csv')

engine = create_engine("mysql+pymysql://root:kaustav007@127.0.0.1:3307/sql_dashboard")

df.to_sql(name='train_tickets', con=engine, index=True, if_exists='replace')

1400

In [7]:
df.head()

,ticket_id,train_id,travel_date,passenger_name,class,price,train_name,source,destination,days_of_operation,total_seats,booked_seats
0,1002,1004,2023-01-04,Sai Das,AC 2 Tier,288,Garib Rath,Ahmedabad,Kolkata,"Fri,Mon,Sat,Tue,Wed",100,15
1,1009,1004,2023-01-09,Vivaan Patel,AC 2 Tier,314,Garib Rath,Ahmedabad,Kolkata,"Fri,Mon,Sat,Tue,Wed",100,42
2,1012,1004,2023-01-29,Vihaan Patel,AC 2 Tier,485,Garib Rath,Ahmedabad,Kolkata,"Fri,Mon,Sat,Tue,Wed",100,25
3,1014,1004,2023-01-29,Reyansh Patel,AC 2 Tier,649,Garib Rath,Ahmedabad,Kolkata,"Fri,Mon,Sat,Tue,Wed",100,25
4,1017,1004,2023-01-20,Aditya Gupta,AC 2 Tier,1333,Garib Rath,Ahmedabad,Kolkata,"Fri,Mon,Sat,Tue,Wed",100,18